@page "/about"

<div id="content-card">
    <header>
        <h1>About</h1>
        <h3>I'm a software engineer based in Dundee, Scotland specializing in building robust and performant applications, for any device.</h3>
        <hr />
    </header>

    <div class="content-content">
        <section id="career">
            <h3>Career</h3>
            <div class="career-entry">
                <h4>Cherwell Software</h4>
                <p>Software Engineer</p>
                <p>March 2019 - Present</p>
            </div>


            <div class="career-entry">
                <h4>Vision (In Practice Systems Ltd)</h4>
                <p>Software Developer</p>
                <p>June 2015 - March 2019</p>
                <p class="career-description"> A core member of an agile scrum team, using WPF and C# to create high quality, high performing applications for Health Care practices and communities around the UK.<br /><br />
                    Within this role I have gained excellent experience with WPF and C# using the MVVM pattern while strongly using OO and SOLID design principles.<br /><br />
                    I have had great exposure to continuous integration practices and have had heavy involvement in our current implementation of the Coded UI test automation framework. I have also implemented service layer automation testing for my team, using Postman API and Jenkins which is now being implemented company wide as a standard.<br /><br />
                    Good experience with both TFS and Git for version control. Gained great knowledge of creating RESTful services.<br /><br />
                </p>
            </div>

            <div class="career-entry">
                <h4>Adaptive Forms</h4>
                <p>Software Developer</p>
                <p>April 2016 - April 2018</p>
            </div>
        </section>
        <section id="education">
            <h3>Education</h3>
        </section>
    </div>

    <footer>
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/greg-stewart-21779baa/" target="_blank" class="icon brands fa-linkedin-in">LinkedIn</a></li>
            <li><a href="https://github.com/gstew45" target="_blank" class="icon brands fa-github">GitHub</a></li>
            <li><a href="https://www.instagram.com/gstew45/" target="_blank" class="icon brands fa-instagram">Instagram</a></li>
        </ul>
    </footer>
</div>
