@using Domain.Entities;
@inherits BlogBase;
@page "/blog"


<div id="content-card">
    <header>
        <h1>Blog</h1>
        <h3>Tutorials, insights and more...</h3>
        <hr />
    </header>
</div>

    @if (ViewModel != null && ViewModel.BlogPosts != null && ViewModel.BlogPosts.Any())
    {
        <section id="blog-posts" class="spotlight style1 top">
            <div class="content">
                <table>
                    <thead>
                    </thead>
                    <tbody>
                        @foreach (Domain.Entities.BlogPost testReport in ViewModel.BlogPosts)
                        {
                            string urlForNavLink = $"/blogpost/{testReport.Id}";
                            <tr>
                                <td width="100%">
                                    <NavLink href="@urlForNavLink">
                                        <div>
                                            <p>@testReport.Title</p>
                                            <p>@testReport.Summary</p>
                                        </div>
                                    </NavLink>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    }
