@inherits BlogBase;
@page "/blog"


    <section id="blog-banner">
        <div class="content">
            <header>
                <h2>Blog</h2>
                <p>Tutorials, Insights and more...</p>
            </header>
        </div>
    </section>
    <section id="blog-posts" class="spotlight style1 top">
        <div class="content">
            <table>
                <thead>
                </thead>
                <tbody>
                        <tr>
                            <td width="100%">Test Blog Post</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </section>
