@using Domain.Entities;
@inherits BlogBase;
@page "/blog"


<div id="content-card">
    <header>
        <h1>Blog</h1>
        <h3>Tutorials, insights and more...</h3>
        <hr />
    </header>
    @if (ViewModel != null && ViewModel.BlogPosts != null && ViewModel.BlogPosts.Any())
    {
        <div class="content-content">
            @foreach (Domain.Entities.BlogPost testReport in ViewModel.BlogPosts)
            {
                string urlForNavLink = $"/blogpost/{testReport.Id}";
                <div class="blog-entry">
                    <a href="@urlForNavLink">
                        <div>
                            <h4>@testReport.Title</h4>
                            <p>@testReport.DatePosted.ToString("dd MMMM yyyy")</p>
                            <p class="blog-description">@testReport.Summary</p>
                        </div>
                    </a>
                    <hr />
                </div>
            }
        </div>
    }
</div>

