@page "/"

<div id="identity-card">
    <header>
        <span class="avatar"><img src="./images/avatar.jpg" alt="" /></span>
        <h1>Greg Stewart</h1>
        <p>Software Engineer</p>
    </header>

    <footer>
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/greg-stewart-developer/" target="_blank" class="icon brands fa-linkedin-in">LinkedIn</a></li>
            <li><a href="https://github.com/gstew45" target="_blank" class="icon brands fa-github">GitHub</a></li>
            <li><a href="https://www.instagram.com/gstew45/" target="_blank" class="icon brands fa-instagram">Instagram</a></li>
        </ul>
    </footer>
</div>
